@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100px auto;
}
.container .dashboard, .container .dash-top, .container .dash-bottom, .container .action-bar {
  display: grid;
}
.container .dashboard {
  padding: 10px 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px repeat(2, 1fr);
  grid-gap: 10px;
}
.container .dashboard .action-bar {
  grid-area: 1/1/2/4;
  grid-template-columns: repeat(2, 1fr);
}
.container .dashboard .action-bar .action-left, .container .dashboard .action-bar .action-right {
  display: flex;
  align-items: center;
}
.container .dashboard .action-bar .action-left .location-info {
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .dashboard .action-bar .action-left .location-info svg {
  margin-right: 10px;
}
.container .dashboard .action-bar .action-right {
  justify-self: flex-end;
  gap: 20px;
}
.container .dashboard .action-bar .action-right .new-slot-btn {
  padding: 10px 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  border: none;
  border-radius: 5px;
  background: hsl(52, 88%, 54%);
  color: black;
}
.container .dashboard .action-bar .action-right .new-slot-btn svg {
  margin-right: 10px;
}
.container .dashboard .action-bar .action-right .profile-btn {
  height: 40px;
  width: 40px;
}
.container .dashboard .dash-top {
  grid-area: 2/1/3/4;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.container .dashboard .dash-top .section {
  border-radius: 10px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
}
.container .dashboard .dash-top .sc-gray {
  background: rgba(199, 199, 199, 0.231372549);
  border: 1px solid gainsboro;
}
.container .dashboard .dash-top .sc {
  border: 1px solid gainsboro;
}
.container .dashboard .dash-top .sc-white {
  border: none;
  box-shadow: none;
}
.container .dashboard .dash-bottom {
  grid-area: 3/1/4/4;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.container .dashboard .dash-bottom .chart, .container .dashboard .dash-bottom .customers {
  border-radius: 10px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid gainsboro;
}
.container .dashboard .dash-bottom .chart {
  grid-area: 1/1/3/3;
}
.container .dashboard .dash-bottom .customers {
  grid-area: 1/3/3/4;
}
