@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  height: 100vh;
  overflow: hidden;
  background-color: hsl(47, 69%, 97%);
  font-family: "Inter", sans-serif;
}
