
$global-primary: hsl(52, 88, 54, 100%);
$global-secondary: hsl(250, 100, 69, 50%);
$global-secondary-strong: hsl(250, 100, 69, 100%);
$global-secondary-btn: hsl(250, 100%, 91, 100%);
$global-background: hsl(47, 69, 97, 100%);
$global-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
$title-color: #2c3e50;

$background-color: #FDFBF4;

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
$global-lg-font: "Caveat", sans-serif;
$global-font-family: 'Inter', sans-serif;