@use "variables" as *;

.container {
  .right {
    .title {
      font-weight: 500;
      margin-bottom: 50px;
    }

    .login-form {
      display: flex;
      flex-direction: column;
      width: 340px;
      align-items: center;

      label {
        font-size: 0.9rem;
        color: #3a3a3a;
        margin-bottom: 15px;
      }

      .forgot-pw {
        text-decoration: underline;
        margin: 20px;
        font-size: 0.8rem;
        color: #3a3a3a;
      }

      .input {
        padding: 10px;
        border: 1px solid #c6c6c6;
        border-radius: 5px;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
      }

      .email-input {
        margin-bottom: 30px;
      }

      .form-btn {
        padding: 15px;
        border: none;
        border-radius: 5px;
        color: black;
        background: $global-primary;
        font-weight: 500;
        cursor: pointer;
      }

      .form-btn:hover {
        transform: translateY(-2px);
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
      }

      .input, .form-btn {
        width: 250px;
      }
    }

    .other-options {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-content: center;
      align-self: center;
      font-size: 0.95rem;
      margin-top: 20px;
      color: gray;

      .register-icon {
        display: flex;

        a {
          color: gray;
        }

        img {
          width: 16px;
          margin-right: 5px;

          svg {
            color: #3a3a3a;
          }
        }
      }
    }
  }
}