@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.container .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container .right .title {
  margin-bottom: 20px !important;
}
.container .right .desc {
  margin-bottom: 20px !important;
}
.container .right .booking-details {
  width: 90%;
  max-width: 500px;
  border-collapse: separate;
  margin-bottom: 40px;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
}
.container .right .booking-details tbody tr:first-child td:first-child {
  border-top-left-radius: 8px;
}
.container .right .booking-details tbody tr:first-child td:last-child {
  border-top-right-radius: 8px;
}
.container .right .booking-details tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
.container .right .booking-details tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
.container .right .booking-details th, .container .right .booking-details td {
  padding: 10px;
  border: 1px solid #e7e7e7;
  text-align: left;
}
.container .right .booking-details td {
  padding: 10px;
  font-size: 14px;
  color: #3a3a3a;
}
.container .right .booking-details td:first-child {
  font-weight: 600;
}
.container .right .checkout-btn {
  font-family: "Inter", sans-serif;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.container .right .checkout-btn {
  background: hsl(52, 88%, 54%);
  color: black;
}
.container .right .checkout-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
}
.container .right .change-btn {
  font-family: "Inter", sans-serif;
  background: #f6f6f6;
  color: gray;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #c6c6c6;
  cursor: pointer;
  width: 90%;
  padding: 12px;
  border-radius: 5px;
  margin-top: 20px;
  height: 40px;
  text-align: center;
}
.container .right .change-btn:hover {
  color: black;
  background: white;
}
.container .right .info {
  font-size: 12px;
  color: gray;
  text-align: center;
  margin-top: 30px;
  max-width: 80%;
}
