@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  background-color: hsl(47, 69%, 97%);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  overflow: hidden;
  height: 100vh;
}
.container .nav-bar {
  position: fixed;
  right: 20px;
  top: 20px;
  height: 50px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 9999;
}
.container .nav-bar .nav-link {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  text-decoration: none !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.container .nav-bar .nav-link:not(:last-child) {
  margin-right: 10px;
}
.container .nav-bar .ctr {
  background-color: hsl(52, 88%, 54%);
}
.container .hero-container {
  position: fixed;
  margin: 20px 0;
  left: 20px;
  width: 33vw;
  height: calc(100vh - 150px);
  padding: 50px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.container .hero-container .squibbles {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 200px;
}
.container .hero-container .hero-title {
  position: relative;
  top: -20px;
  z-index: 10;
  font-size: 2.2rem;
  font-weight: 500;
  color: white;
  width: 350px;
  line-height: 60px;
}
.container .hero-container .hero-title p {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.container .hero-container .hero-underline {
  position: relative;
  z-index: 11;
  top: -125px;
  left: 145px;
}
.container .hero-container .hero-underline svg {
  scale: 1.2;
}
.container .hero-container .hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}
.container .hero-container .hero-image.active {
  opacity: 1;
}
.container .content-sec {
  position: absolute;
  left: 44vw;
  top: 10%;
}
.container .content-sec .main-sec {
  position: relative;
}
.container .content-sec .main-sec img {
  width: 100px;
}
.container .content-sec .main-sec .thumbs-up {
  width: 40px;
  position: absolute;
  top: 110px;
  left: 400px;
  transform: rotate(20deg);
}
.container .content-sec .main-sec .content-title {
  font-size: 1.35rem;
}
.container .content-sec .main-sec .content-desc {
  font-size: 0.8rem;
  width: 350px;
  padding-bottom: 10px;
}
.container .content-sec .main-sec .excited-yellow {
  position: relative;
  width: 30px;
  top: -15px;
  left: -15px;
}
.container .content-sec .insta-sec {
  position: relative;
  right: -420px;
  padding: 40px;
  display: grid;
  text-align: end;
  justify-content: center;
  justify-items: end;
}
.container .content-sec .insta-sec .insta-logo {
  width: 120px;
}
.container .content-sec .insta-sec .small-car {
  position: absolute;
  left: 0;
  width: 30px;
  top: 130px;
}
.container .content-sec .insta-sec .insta-title {
  font-size: 1.35rem;
}
.container .content-sec .insta-sec .insta-underline {
  position: absolute;
  bottom: 100px;
  right: 200px;
}
.container .content-sec .insta-sec .insta-desc {
  font-size: 0.8rem;
  width: 350px;
}
.container .content-sec .insta-sec .btn {
  margin: 0;
}
.container .content-sec .insta-sec .insta-stars {
  position: absolute;
  bottom: 20px;
  right: 200px;
}
.container .btn {
  font-family: "Inter", sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  text-decoration: none !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: none;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.container .btn:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.container .ctr {
  background-color: hsl(52, 88%, 54%);
}
.container .secondary {
  background-color: hsla(250, 100%, 69%, 0.5);
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: hsl(52, 88%, 54%);
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.floating-button:active {
  transform: scale(0.9);
}

.blur {
  filter: blur(5px);
}

.menu {
  position: fixed;
  bottom: 90px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.menu.show {
  opacity: 1;
  visibility: visible;
}
.menu button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: white;
  color: black;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
  font-family: "Inter", sans-serif;
}
.menu button:hover {
  background: hsl(250, 100%, 69%);
  color: white;
}
